
/* Custom edits
   ======================================================================== */
@import url('icomoon.css');
#content a {
	text-decoration:underline;
	&:hover, &.btn {
		text-decoration:none;
	}
}
.nav > li.active > a {
	background-color:#eee;
}
.btn .dark {
	color:#647e99;
}
.icon-large {
	font-size:150px;
}
.faq {
	h3 {
		border-bottom:1px dashed #ccc;
		padding:0 0 5px;
		color:#647e99;
	}
	p {
		margin:0 0 40px;
		font-size:16px;
	}
}

.contact-info {
	background:#fff;
	padding:20px 30px;
	h4 {
		color:#647e99;
		margin:10px 0 20px;
		i {
			font-size:20px;
		}
	}
}