@import url('icomoon.css');
/* Custom edits
   ======================================================================== */
#content a {
  text-decoration: underline;
}
#content a:hover,
#content a.btn {
  text-decoration: none;
}
.nav > li.active > a {
  background-color: #eee;
}
.btn .dark {
  color: #647e99;
}
.icon-large {
  font-size: 150px;
}
.faq h3 {
  border-bottom: 1px dashed #ccc;
  padding: 0 0 5px;
  color: #647e99;
}
.faq p {
  margin: 0 0 40px;
  font-size: 16px;
}
.contact-info {
  background: #fff;
  padding: 20px 30px;
}
.contact-info h4 {
  color: #647e99;
  margin: 10px 0 20px;
}
.contact-info h4 i {
  font-size: 20px;
}

#errorModal .modal-content{
    background: #ec6459;
}
#errorModal .modal-header,
#errorModal .modal-body,
#errorModal .modal-footer{
    background: transparent;
}
#errorModal .modal-footer{
    margin: 0;
    border-top: none;
}
#errorModal .modal-header {
    border-bottom: none;
}

#statusModal .modal-header {
    background: #00A8B3;
    color: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;    
}