@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-5bsj2a');
	src:url('../fonts/icomoon.eot?#iefix-5bsj2a') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-5bsj2a') format('woff'),
		url('../fonts/icomoon.ttf?-5bsj2a') format('truetype'),
		url('../fonts/icomoon.svg?-5bsj2a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-heart:before {
	content: "\e600";
}
.ico-cloud:before {
	content: "\e601";
}
.ico-star:before {
	content: "\e602";
}
.ico-sound:before {
	content: "\e603";
}
.ico-settings:before {
	content: "\e604";
}
.ico-lock:before {
	content: "\e605";
}
.ico-bulb:before {
	content: "\e606";
}
.ico-pen:before {
	content: "\e607";
}
.ico-diamond:before {
	content: "\e608";
}
.ico-paperplane:before {
	content: "\e609";
}
.ico-params:before {
	content: "\e60a";
}
.ico-data:before {
	content: "\e60b";
}
.ico-megaphone:before {
	content: "\e60c";
}
.ico-lab:before {
	content: "\e60d";
}
.ico-food:before {
	content: "\e60e";
}
.ico-fire:before {
	content: "\e60f";
}
.ico-wallet:before {
	content: "\e610";
}
.ico-world:before {
	content: "\e611";
}
