/* General
   ======================================================================== */
html{
        height: 100%;
}   
body{
        height: 100%;
}
#container{
        padding: 0 0 10px;
}
.container{
        height: 100%;
        position: relative
}
.footer {
        margin: -60px auto 0;
        height: 60px;
        position: relative;
}
.copyright-p{
        position: absolute;
        bottom: 0;
}  
.wrapper {
	margin-top:80px;
	padding-bottom:60px;
}
.form-horizontal .control-label {
	text-align:right;
}

.with-banner .wrapper {
	margin-top:0;
}
.with-banner .banner {
	height:60px;
	background:#fff;
}

.inline-block {
	display:inline-block !important;
}
.display-block {
	display:block;
}
.margin-bottom-10 {
	margin-bottom:10px;
}


/* Pages
   ======================================================================== */

/* Login / Register Page */
.login-body .panel {
	padding-top:20px;
	padding-bottom:20px;
}
.logo-wrapper {
	text-align:center;
	margin:10px 0;
}
.logo-wrapper img {
	margin:0 auto;
}
.form-signin {
	margin:0 auto;
	border-radius:0;
	max-width:none;
}
.form-signin .btn {
	text-transform:uppercase;
	margin:10px 0 0;
}

.form-signin h2.form-signin-heading {
	background:none;
	color:#f67a6e;
	text-align:left;
	padding:20px 0;
	margin:0 20px;
	border-bottom:1px solid #f67a6e;
}
.form-signup h2.form-signin-heading {
	color:#41cac0;
	border-bottom:1px solid #41cac0;
}

.form-signin label {
	font-weight:normal;
}
.form-signup input[type="text"], .form-signup input[type="password"], .form-signup input[type="email"] {
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	box-shadow: none;
	font-size: 12px;
}

.or-sinin {
	text-align:center;
	color:#aaa;
	
}
.or-sinin > span {
	display:block;
	margin:20px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2O8e/fufwAIzgOYrS4BDgAAAABJRU5ErkJggg==) repeat-x center;
}
.or-sinin > span > span {
	background:#fff;
	padding:0 20px;
}

/* Project List Page */
.project-list-body .add-new .panel-body {
	padding:20px 20px 10px;
}
.project-list .project {
	border-bottom:1px solid #ddd;
	padding:0 0 20px 0;
}
.project-list .project:last-child {
	border:0;
}
.project-list h3 .label {
	font-size:12px;
	font-weight:normal;
	top:-6px;
	left:10px;
	position:relative;
	display:inline-block;
}

/* Project Page */
.project-body .project-info h2 a {
	font-size:18px;
	margin:0 0 0 10px;
}
.project-body .version .changes li {
	font-size:14px;
	padding:4px 0;
}
.project-body .version .changes li .actions {
	display:none;
}
.project-body .version .changes li:hover .actions {
	display:inline;
}
.project-body .version .changes li .actions a {
	margin:0 0 0 10px;
}
.project-body .version .new-note {
	border-top:1px solid #eee;
	display:block;
	padding:15px 0 0 0;
}
.project-body .version .new-note label {
	font-weight:normal;
	margin:0 10px 0 0;
}


/* Add Release Notes Page */
.add-notes-body .add-attachment {
	padding-left:0;
	padding-right:0;
}


/* Projects Page */
.sidebar-search,
.releases-body .sidebar .form-inline {
	padding:10px 50px 0 0;
	margin:0 0 20px 0;
	position:relative;
}
.sidebar-search input,
.releases-body .sidebar .form-inline input {
	width:100% !important;
}
.sidebar-search .btn,
.releases-body .sidebar .form-inline .btn {
	position:absolute;
	top:10px;
	right:0;
}
.releases-body .version .changes li {
	padding:5px 0;
	font-size:15px;
}
.releases-body .version .changes a {
	font-size:15px;
}

/* Search Page */
.sort-by.row {
	margin-bottom:20px;
}

/* Settings Page */
.page-title {
	margin:0 0 30px;
}

.panel.toggle .panel-body {
	display:none;
	padding:20px 15px;
}
.panel.toggle.active .panel-body {
	display:block;
}
.panel.toggle .panel-heading {
	cursor:pointer;
}
.panel.toggle .panel-heading h3 {
	margin:10px 0;
}
.panel.toggle .panel-heading h3 .fa-chevron-right {
	margin:0 0 0 10px;
	transition:0.5s all;
}
.panel.toggle.active .panel-heading h3 .fa-chevron-right,
.panel.toggle .panel-heading:hover h3 .fa-chevron-right {
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
.panel.toggle.active .panel-heading h3 {
	color:#41cac0;
}
i.tip {
	font-size:16px;
	margin:0 0 0 5px;
	cursor:pointer;
}
i.tip:hover {
	color:#41cac0;
}
.panel.toggle .form-group {
	margin-bottom:25px;
}
.panel.toggle .form-group.form-inline {
	margin-top:5px;
	margin-bottom:5px;
}
.panel.toggle .form-inline label {
	width:80px;
}
.panel.toggle .form-inline .custom-type span {
	width:100px;
	display:inline-block;
	font-size:15px;
}
.panel.toggle .checkbox.inline {
	margin-left:10px;
}

/* Account Page */
.receipts p {
	font-size:16px;
	line-height:34px;
	border-bottom:1px solid #eee;
	padding:10px 0;
}
.receipts p:last-child {
	border:0;
	margin:0;
}
.receipts .btn {
	margin-left:20px;
}

.pdf-download{
    margin: 5px 0;
}

/* modal */
#errorModal .modal-content{
    background: #ec6459;
}
#errorModal .modal-header,
#errorModal .modal-body,
#errorModal .modal-footer{
    background: transparent;
}
#errorModal .modal-footer{
    margin: 0;
    border-top: none;
}

/* Media Queries
   ======================================================================== */
   
@media only screen and (max-width: 767px) {

	.horizontal-menu {
		overflow:hidden;
		width:100%;
		margin:0 0 10px;
	}
	.navbar-header  {
		margin:0 !important;
	}
	
	
	.form-horizontal .control-label {
		text-align:left;
	}
	
	.project-list-body .add-new input {
		margin:10px 0;
	}
	
	.project-body .project-info .actions .pull-right {
		float:none !important;
	}
	
	.project-body .version .new-note label,
	.project-body .version .new-note input,
	.project-body .version .new-note select {
		margin:0 0 10px;
	}
	
}

@media only screen and (max-width: 991px) {

	
	
}

@media only screen and (min-width: 768px) {
	
	.or-sinin {
		position:relative;
		padding:0;
		background:none;
	}
	.or-sinin > span {
		position:absolute;
		width:100%;
		left:15px;
		top:20px;
		margin:0 0 0 -15px;
		height:350px;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2O8e/fufwAIzgOYrS4BDgAAAABJRU5ErkJggg==) repeat-y center;
	}
	.or-sinin > span > span {
		position:absolute;
		top:50%;
		left:0;
		width:100%;
		text-align:center;
		margin:-20px 0 0;
		padding:10px 0;
	}
	
}